<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px" />
        <ion-title>SIV CUCEI</ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image" />
  <ion-card>
    <div class="center-content">
      <ion-card-header>
        <ion-card-title color="primary">CREAR USUARIO</ion-card-title>
      </ion-card-header>
      <form [formGroup]="fgCreate" (ngSubmit)="createUser()">
        <ion-item>
          <ion-label position="fixed">Código</ion-label>
          <ion-input placeholder="Código" type="number" formControlName="code"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Nombre(s)</ion-label>
          <ion-input placeholder="Nombre(s)" type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Apellidos</ion-label>
          <ion-input placeholder="Apellidos" type="text" formControlName="lastname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">NIP</ion-label>
          <ion-input placeholder="NIP" type="password" formControlName="nip"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Confirmar NIP</ion-label>
          <ion-input placeholder="NIP" type="password" formControlName="nip2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Área de adscripción</ion-label>
          <ion-select placeholder="Seleccione..." formControlName="area_adscripcion" class="mySelect">
            <ion-select-option value="Administracion">Administración</ion-select-option>
            <ion-select-option value="Depto. de Farmacobiologia">Depto. de Farmacobiologia</ion-select-option>
            <ion-select-option value="Depto. de Fisica">Depto. de Fisica</ion-select-option>
            <ion-select-option value="Depto. de Matematicas">Depto. de Matematicas</ion-select-option>
            <ion-select-option value="Depto. de Quimica">Depto. de Quimica</ion-select-option>
            <ion-select-option value="Depto. de Ingenieria Civil y Topografia">Depto. de Ingenieria Civil y Topografia</ion-select-option>
            <ion-select-option value="Depto. de Ingenieria Industrial">Depto. de Ingenieria Industrial</ion-select-option>
            <ion-select-option value="Depto. de Ingenieria Mecanica Electrica">Depto. de Ingenieria Mecanica Electrica</ion-select-option>
            <ion-select-option value="Depto. de Ingenieria de Proyectos">Depto. de Ingenieria de Proyectos</ion-select-option>
            <ion-select-option value="Depto. de Ingenieria Quimica">Depto. de Ingenieria Quimica</ion-select-option>
            <ion-select-option value="Depto. de Madera Celulosa y Papel">Depto. de Madera Celulosa y Papel</ion-select-option>
            <ion-select-option value="Depto. de Ciencias Computacionales">Depto. de Ciencias Computacionales</ion-select-option>
            <ion-select-option value="Depto. de Electronica">Depto. de Electronica</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Plaza Laboral</ion-label>
          <ion-input placeholder="Plaza laboral" type="text" formControlName="plaza_laboral"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">IMSS</ion-label>
          <ion-input placeholder="IMSS" type="text" formControlName="numero_social"></ion-input>
        </ion-item>
        <ion-button type="submit" color="light" [disabled]="this.fgCreate.invalid">Crear Cuenta</ion-button>
        <a routerLink="/login">Ya tengo una cuenta</a>
      </form>
    </div>
  </ion-card>

</ion-content>