<ion-header>
  <ion-toolbar>
    <ion-title>Información de la Comisión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Folio</ion-label>
    <ion-label>{{ this.comi.folio}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Estado</ion-label>
    <ion-label *ngIf="this.comi.status == -1">Cancelado</ion-label>
    <ion-label *ngIf="this.comi.status == 0">Guardado</ion-label>
    <ion-label *ngIf="this.comi.status == 1">Enviado a Jefe Depto.</ion-label>
    <ion-label *ngIf="this.comi.status == 2">Rechazado por Jefe Depto.</ion-label>
    <ion-label *ngIf="this.comi.status == 3">Aceptado por Jefe Depto.</ion-label>
    <ion-label *ngIf="this.comi.status == 4">Rechazado por Administrador</ion-label>
    <ion-label *ngIf="this.comi.status == 5">Aceptado por Administrador</ion-label>
    <ion-label *ngIf="this.comi.status == 6">Finalizado</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Tipo</ion-label>
    <ion-label *ngIf="this.comi.tipo_comision == 0"> Nacional</ion-label>
    <ion-label *ngIf="this.comi.tipo_comision == 1"> Internacional</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Destino</ion-label>
    <ion-label>{{ this.comi.destino }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-label>{{ this.comi.nombre_comision }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Objetivo</ion-label>
    <ion-label>{{ this.comi.objetivo_trabajo }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Justificación</ion-label>
    <ion-label>{{ this.comi.justificacion }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Fecha Inicio</ion-label>
    <ion-label>{{ this.comi.fecha_inicio }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Fecha Fin</ion-label>
    <ion-label>{{ this.comi.fecha_fin }}</ion-label>
  </ion-item>

  
  <ion-button (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
  </ion-button>

</ion-content>
