ion-card {
  background: white;
}

ion-card-title {
  text-align: center;
  background-color: #607D8B;
  padding: 10px;
  color: white;
}

ion-col {
  display: inline;
}

.title-contract {
  background-color: #291935;
}
