<ion-card>
  <ion-card-title>
    Premios y Distinciones
    <ion-buttons class="ion-float-right">
      <ion-button (click)="canEditAwards = !canEditAwards">
        <ion-icon name="create"></ion-icon>
        Editar
      </ion-button>
    </ion-buttons>
  </ion-card-title>
  <ion-card-content>

    <ion-button *ngIf="canEditAwards" color="light"
                (click)="addAwardToGroup()">
      <ion-icon color="success" name="add-circle-outline"></ion-icon>
      Agregar nuevo premio
    </ion-button>
    <ion-list>

      <!--  Lista de elementos de los datos academices-->
      <form [formGroup]="awardDataForm">
        <div formArrayName="awards">
          <!--  Modo de edicion: OFF (default)  -->
          <div *ngIf="!canEditAwards">
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-xl=" 6" size-lg="6" size-md="6" size-sm="12" size-xs="12"
                         *ngFor="let academy of awardDataForm.get('awards')['controls']; let i = index"
                         [formGroupName]="i">
                  <ion-card *ngIf="awardDataForm.value.awards[i]['id']">
                    <ion-card-title class="title-card"> Premio</ion-card-title>
                    <ion-item *ngIf="awardDataForm.value.awards[i]['award']">
                      <ion-label class="ion-text-capitalize" position="floating">Premio</ion-label>
                      <ion-textarea type="text" readonly
                                    formControlName="award"></ion-textarea>
                    </ion-item>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <!--  Modo de edicion: ON  -->
          <div *ngIf="canEditAwards">
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-xl=" 6" size-lg="6" size-md="6" size-sm="12" size-xs="12"
                         *ngFor="let academy of awardDataForm.get('awards')['controls']; let i = index"
                         [formGroupName]="i">
                  <ion-card class="animated bounceInUp">

                    <ion-card-title class="title-card"> Premio
                      <ion-buttons class="ion-float-right">
                        <ion-button (click)="removeAward(i)">
                          <ion-icon color="danger" name="trash"></ion-icon>Borrar
                        </ion-button>
                      </ion-buttons>
                    </ion-card-title>
                    <ion-item>
                      <ion-label class="ion-text-capitalize" position="floating">Premio</ion-label>
                      <ion-textarea type="text" color="primary"
                                    formControlName="award"></ion-textarea>
                    </ion-item>
                    <ion-button expand="block" [disabled]="awardDataForm.controls.awards.controls[i].invalid"
                                (click)="updateAward(i)">
                      Actualizar Premio
                    </ion-button>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </form>
    </ion-list>
  </ion-card-content>
</ion-card>
