<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-title>
        CREAR GASTO
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image">
  <ion-card>
    <ion-card-header class="title">
      <ion-card-title>Nuevo Gasto</ion-card-title>
    </ion-card-header>

    <form [formGroup]="fgGasto" (ngSubmit)="createGasto()">
      <ion-item>
        <ion-label>ID del viático</ion-label>
        <ion-input  value="{{ this.idViatico }}" formControlName="id_solicitud_viatico" readonly></ion-input> 
      </ion-item>
       
      <ion-item>
        <ion-label position="floating">Fecha Solicitud</ion-label>
        <ion-datetime displayFormat="MMM/DD/YYYY" max="3000-12-09" value="{{myDate}}" formControlName="dia" readonly></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Rubro:</ion-label>
        <ion-select formControlName="rubro">
          <ion-label>Rubro:</ion-label>
          <ion-select-option>Alimentacion</ion-select-option>
          <ion-select-option>Hospedaje</ion-select-option>
          <ion-select-option>Transporte Local</ion-select-option>
          <ion-select-option>Transporte Foraneo</ion-select-option>
          <ion-select-option>Combustible</ion-select-option>
          <ion-select-option>Otros</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Monto: $</ion-label>
        <ion-input placeholder="Ingresa un monto" type="number" formControlName="cantidad"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Número de Proyecto</ion-label>
        <ion-input placeholder="Ingresa un codigo de proyecto" type="text" formControlName="proyecto"></ion-input>
      </ion-item>

      <ion-button type="submit" color="light" >Guardar Gastos</ion-button>
    </form>

  </ion-card>
</ion-content>
