<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-title>
        CREAR GASTO
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image">
  <ion-card>
    <ion-card-header class="title">
      <ion-card-title>Nuevo Gasto</ion-card-title>
    </ion-card-header>

    <form [formGroup]="fgGasto" (ngSubmit)="createGasto()">
      <ion-item>
        <ion-label>ID del viático</ion-label>
        <ion-input  value="{{ this.idViatico }}" formControlName="id_solicitud_viatico" readonly></ion-input> 
      </ion-item>
       
      <ion-item>
        <ion-label position="floating">Dia</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" max="3000-12-09" value="{{myDate}}" formControlName="dia"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Alimentacion: $</ion-label>
        <ion-input placeholder="Ingresa un monto" type="number" formControlName="alimentacion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Hospedaje: $</ion-label>
        <ion-input placeholder="Ingresa un monto" type="number" formControlName="hospedaje"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Transporte Local: $</ion-label>
        <ion-input placeholder="Ingresa un monto" type="Number" formControlName="transporteLocal"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Transporte Foraneo: $</ion-label>
        <ion-input placeholder="Ingresa un monto" type="number" formControlName="transporteForaneo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Combustible: $</ion-label>
        <ion-input placeholder="Ingresa un monto" type="number" formControlName="combustible"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Otros: $</ion-label>
        <ion-input placeholder="Ingresa un monto" type="number" formControlName="otros"></ion-input>
      </ion-item>

      <ion-button type="submit" color="light" >Guardar Gastos</ion-button>
    </form>

  </ion-card>
</ion-content>
