.bg-row{
    background: rgb(43, 43, 43);
    color: #FFFFFF;
}

.total{
    background: #c5ccc8;
}

.grid-bot-header{
    border-bottom-style: solid;
}

.grid-bot-rows{
    border-bottom-style: solid;
    border-width: 1px;
}