<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">    
      <ion-back-button defaultHref="/home/historial-viaticos"></ion-back-button>
      
        <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>
          CREAR INFORME
        </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image"/>
  <ion-card-content class="background">
    <ion-list>
      <form [formGroup]="informeGroup">
        <ion-item>
          <ion-label position="floating">Resultados: </ion-label>
          <ion-input type="text"
                     formControlName="resultados"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Observaciones: </ion-label>
          <ion-input type="text"
                     formControlName="observaciones"></ion-input>
        </ion-item>
      </form>
    </ion-list>
  </ion-card-content>
  <ion-button (click)="guardar()" color="primary" [disabled]="informeGroup.invalid"> Guardar</ion-button>
  <ion-button  *ngIf="!informeCreado" (click)="informeCreado = !informeCreado" color="primary" [disabled]="!puedeContinuar"> Siguiente</ion-button>
  <!-- <ion-button *ngIf="!informeCreado" (click)="informeCreado = !informeCreado" color="primary"> Siguiente</ion-button>  -->
  <ion-card *ngIf="informeCreado">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-card-title>
                Agenda
              </ion-card-title>
              <ion-card-content>
                <ion-button (click)="crearAgenda()">Crear agenda</ion-button>
              </ion-card-content>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-card-title>
                Itinerario
              </ion-card-title>
              <ion-card-content>
                <ion-button (click)="crearItinerario()">Crear itinerario</ion-button>
              </ion-card-content>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-card-title>
                Factura
              </ion-card-title>
              <ion-card-content>
                <ion-button (click)="crearFactura()">Crear Factura</ion-button>
              </ion-card-content>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-button>Enviar</ion-button>
  </ion-card>
</ion-content>
