<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
      <ion-button href="/home">
        <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>
          REVISAR SOLICITUDES DE COMISIÓN
        </ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image"/>
  <ion-card >
    <ion-card-header class="title">
      <ion-card-title>Comisiones Pendientes de Aprobación</ion-card-title>
    </ion-card-header>
    <ion-card-header class="subtitle">
      <ion-card-title>Comisiones</ion-card-title>
    </ion-card-header>
    <ion-card-content class="background">
      <table>
        <tr>
          <th>ID</th>
          <th>Nombre de la Comisión</th>
          <th>Fecha de Solicitud</th>
          <th>Nombre Solicitante</th>
          <th>Más Información</th>
          <th>Acciones</th>
        </tr>
        <tr *ngFor="let comision of comisiones">
          <td>{{ comision.id }}</td>
          <td>{{ comision.nombre_comision }}</td>
          <td>{{ comision.fecha_solicitud }}</td>
          <td>{{ comision.nombre }}</td>
          <td text-center><ion-button (click)="openModal(comision.id)"><ion-icon name="apps"></ion-icon></ion-button></td>
          <td>
            <ion-button><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
            <ion-button><ion-icon name="close-circle-outline"></ion-icon></ion-button>
          </td>
        </tr>
      </table>

    </ion-card-content>
    <ion-card *ngIf="comisiones == null" class="primary"> No hay elementos para mostrar </ion-card>
  </ion-card>

</ion-content>

