.centered-list{
    text-align: center;
    width: 100%;
}
.background{
    background-color: rgb(240,240,240);
}

.bg-col{
    background: rgb(43, 43, 43);
    color: #FFFFFF;
}
.modal-class .modal-wrapper{

}