<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>
          HISTORIAL DE COMISIÓN
        </ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <img class="background-image"/>
  <ion-card >
    <ion-card-header class="title">
      <ion-card-title>Historial de comisiones</ion-card-title>
    </ion-card-header>
    <ion-card-header class="subtitle">
      <ion-card-title>Comisiones</ion-card-title>
    </ion-card-header>
    <ion-card-content class="background">
      <ion-grid>
        <ion-row class="bg-col">
          <ion-col>
            ID de la Comisión
          </ion-col>
          <ion-col>
            Nombre de la Comisión
          </ion-col>
          <ion-col>
            Fecha de Solicitud
          </ion-col>
          <ion-col>
            Más información
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let comision of comisiones">
          <ion-col >
            <div style="text-align: center;">
          {{ comision.folio }}
            </div>
          </ion-col>
          <ion-col>
            {{comision.nombre_comision}}
          </ion-col>
          <ion-col>
            {{comision.fecha_solicitud}}
          </ion-col>
          <ion-col>
            <ion-button (click)="openModal(comision.folio)" >Más Información</ion-button>
          </ion-col>
          <div >
          <ion-col>
            <ion-button *ngIf="comision.status == 5" (click)="viaticos(comision.folio)">Crear viático</ion-button>
          </ion-col>
          </div>
          
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card *ngIf="comisiones == false" class="primary"> No hay elementos para mostrar</ion-card>
  </ion-card>

</ion-content>
