<ion-split-pane contentId="principal-content">
  <ion-menu side="start" menuId="menu" contentId="principal-content" lines="none" class="color">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          
          <ion-button href="/home">
            <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/>
            <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
            <ion-title>SIV CUCEI</ion-title>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="color">
      <ion-list class="color" class="ion-no-padding">

        <!-- <ion-menu-toggle auto-hide="false" *ngFor="let item of menuItems">
          <ion-item routerDirection="root" [routerLink]="item.redirectTo" lines="none" class="color">
            <ion-icon [name]="item.icon" slot="start" class="color"></ion-icon>
            <ion-label> {{item.name}} </ion-label>
          </ion-item>
        </ion-menu-toggle> -->

        <ion-menu-toggle auto-hide="false">
          <ion-item lines="full" class="color" routerDirection="root" [routerLink]="'/home/profile'">
            <ion-icon name="person" slot="start" class="color"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="full" class="color" router-direction="root" [routerLink]="'/home/create-comision'">
            <ion-icon name="document" slot="start" class="color"></ion-icon>
            <ion-label>Comisión</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="full" class="color" router-direction="root" [routerLink]="'/home/history'">
            <ion-icon name="clipboard" slot="start" class="color"></ion-icon>
            <ion-label>Historial Comision</ion-label>
          </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
          <ion-item lines="full" class="color" router-direction="root" [routerLink]="'/home/historial-viaticos'">
            <ion-icon name="airplane" slot="start" class="color"></ion-icon>
            <ion-label>Historial Viático</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="full" class="color" router-direction="root" [routerLink]="'/home/revisar-comision'">
            <ion-icon name="checkbox-outline" slot="start" class="color"></ion-icon>
            <ion-label>Comisiones Pendientes</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="logout()" lines="none" class="color" routerDirection="root" [routerLink]="''">
            <ion-icon name="exit" slot="start" class="color"></ion-icon>
            <ion-label> Cerrar Sesión </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="principal-content" main></ion-router-outlet>
</ion-split-pane>
