<!--Modal que se muestra al dar click en "Mas Info" en vista "Lista de itinerariosiones"-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-title>INFORMACIÓN DE FACTURAS</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-toolbar>
      <ion-title>Facturas</ion-title>
    </ion-toolbar>
    <ion-grid *ngIf="facturas">
      <ion-row class="bg-row">
        <ion-col>
          <ion-label>ID de Factura</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Vizualizar</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Eliminar</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let Factura of facturas">
        <ion-col>
          <ion-input readonly [(ngModel)]="Factura.id"></ion-input>
        </ion-col>
        <ion-col>
          <ion-button (click)="downloadFactura(Factura.id)">
            <ion-icon  name="open"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="deleteFactura(Factura.id)">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
