<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>
          PROGRAMA
        </ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image"/>
  <ion-card >
    <div class="center-content">
      <ion-card-header class="title">
        <ion-card-title>Solicitud de comisión nueva</ion-card-title>
      </ion-card-header>

        <form [formGroup]="fgCreate" (ngSubmit)="createPrograma()">
          <ion-card-header class="subtitle">
            <ion-card-title>Actividades y programa</ion-card-title>
          </ion-card-header>

          <ion-item>
            <ion-label pickerOptions="cssClass:'datetime'">Fecha</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" max="3000-12-09" value="{{myDate}}" formControlName="dia"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Lugar Estancia</ion-label>
            <ion-input placeholder="Programa" type="text" formControlName="lugar_estancia"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Programa del evento</ion-label>
            <ion-input placeholder="Programa" type="text" formControlName="tareas_realizar"></ion-input>
          </ion-item>

          <ion-button type="submit" color="light" [disabled]="this.fgCreate.invalid">Guardar programa</ion-button>
          <ion-button (click)="closeModal()" >Regresar</ion-button>

          </form>
    </div>
  </ion-card>

</ion-content>
