<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
        <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>
          VIÁTICO
        </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image" />
  <ion-card>

    <div class="center-content" *ngIf="!guardado">
      <ion-card-header class="title">
        <ion-card-title>Nuevo Viático</ion-card-title>
      </ion-card-header>


      <ion-card-header class="subtitle">
        <ion-card-title>Información del viático</ion-card-title>
      </ion-card-header>
      <form [formGroup]="fgCreate" (ngSubmit)="saveViatico()">
        <ion-item>
          <ion-label>Folio de la comisión </ion-label>
          <ion-input disabled="true" value="{{this.comision}}" formControlName="id_comision"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Nombre del invitado </ion-label>
          <ion-input placeholder="Nombre completo" type="text" formControlName="invitado_nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label> Comentarios </ion-label>
          <ion-textarea placeholder="Comentarios..." formControlName="comentarios"></ion-textarea>
        </ion-item>

        <ion-button type="submit" color="light" [disabled]="this.fgCreate.invalid">Guardar estos datos</ion-button>
        <div *ngIf="guardado">
          <ion-button (click)="openModal()">Crear gasto</ion-button>
        </div>
        <div *ngIf="!guardado">
          <ion-button disabled (click)="openModal()">Crear gasto</ion-button>
        </div>
        <!-- <ion-button (click)="saveViatico()">Guardar solicitud</ion-button> -->
        <ion-button routerLink="/home/history">Regresar</ion-button>

      </form>
    </div>
    <div class="center-content" *ngIf="guardado">
      <ion-card-header class="subtitle">
        <ion-card-title>Información del viático</ion-card-title>
      </ion-card-header>
      <form [formGroup]="fgCreate" (ngSubmit)="saveViatico()">
        <ion-item>
          <ion-label>Folio de la comisión </ion-label>
          <ion-input value="{{this.comision}}" formControlName="id_comision"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Nombre del invitado </ion-label>
          <ion-input value="{{viatico.nombre_invitado}}" type="text" formControlName="invitado_nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label> Comentarios </ion-label>
          <ion-textarea value="{{viatico.comentarios}}" formControlName="comentarios"></ion-textarea>
        </ion-item>

        <ion-button type="submit" color="light" [disabled]="this.fgCreate.invalid">Guardar estos datos</ion-button>
        <div *ngIf="guardado">
          <ion-button (click)="openModal()">Crear gasto</ion-button>
        </div>
        <div *ngIf="!guardado">
          <ion-button disabled (click)="openModal()">Crear gasto</ion-button>
        </div>
        <!-- <ion-button (click)="saveViatico()">Guardar solicitud</ion-button> -->
        <ion-button routerLink="/home/history">Regresar</ion-button>

      </form>
    </div>
  </ion-card>

  <div *ngIf="guardado">
    <ion-card>
      <ion-card-header class="title">
        <ion-card-title>Gastos</ion-card-title>
      </ion-card-header>

      <ion-card-content class="background">

        <ion-grid>
          <ion-row class="bg-col">
            <ion-col text-center size="3">
              ID
            </ion-col>
            <ion-col size="3">
              Día
            </ion-col>
            <ion-col text-center size="3">
              ID Viático
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let gasto of gastos">
            <ion-col text-center size="3">
              {{ gasto.id }}
            </ion-col>
            <ion-col size="3">
              {{ gasto.dia | date}}
            </ion-col>
            <ion-col text-center size="3">
              {{ gasto.id_solicitud_viatico }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-button  (click)="sendViatico()" routerLink="/home/historial-viaticos" color="danger" >ENVIAR</ion-button>
  </div>
</ion-content>