<ion-content>
  <img class="background-image"/>
  <ion-card>
    <div class="center-content" >
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
        <ion-card-subtitle>Nuevo SIIPERSU</ion-card-subtitle>
      </ion-card-header>
      <form [formGroup]="fgLogin">
        <ion-item>
          <ion-label position="fixed">Codigo</ion-label>
          <ion-input placeholder="codigo" type="text" pattern="[0-9]{8}" formControlName="code"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Contraseña</ion-label>
          <ion-input placeholder="*****" type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button (click)="login()" type="submit" color="light" [disabled]="!fgLogin.valid">Iniciar Sesion</ion-button>
        <a routerLink="/forgot-password" >Olvide mi contraseña</a>
      </form>
    </div>
  </ion-card>
</ion-content>