<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
      <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
      <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
      <ion-title>LISTA DE VIATICOS</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image"/>
  <ion-card>
    <ion-card-header class="title">
      <ion-card-title>Lista de Viáticos</ion-card-title>
    </ion-card-header>
    <ion-card-content class="background">
      <ngx-datatable *ngIf="viaticos" [ngClass]="'material'" [rows]="viaticosCopia" [headerHeight]="'auto'"
                     [rowHeight]="'auto'" [columnMode]="'standard'" [scrollbarH]="true">
        <!--  Estos son las definiciones de columnas  -->
        <ngx-datatable-column prop="id_viatico" name="ID Viatico" width="80">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="id_comision" name="ID Comision" width="100">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="nombre_comision" name="Nombre Comisión" width="200">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="fecha_solicitud" name="Fecha solicitud" width="120">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value | date}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="status" name="Estatus" width="120">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <ion-label *ngIf="value == -1">Cancelado</ion-label>
            <ion-label *ngIf="value == 0">Guardado</ion-label>
            <ion-label *ngIf="value == 1">Enviado a Finanzas.</ion-label>
            <ion-label *ngIf="value == 2">Rechazado por Finanzas.</ion-label>
            <ion-label *ngIf="value == 3">Aceptado por Finanzas.</ion-label>
            <ion-label *ngIf="value == 4">Rechazado por Administrador</ion-label>
            <ion-label *ngIf="value == 5">Aceptado por Administrador</ion-label>
            <ion-label *ngIf="value == 6">Capital Asignado</ion-label>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="id_viatico" name="Info" width="70">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <ion-button (click)="openModalInfo(value)">
              <ion-icon name="information-circle-outline"></ion-icon>
            </ion-button>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="id_solicitud_comision" name="Acciones" width="465">
          <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <ion-buttons>
              <div *ngIf="viaticosCopia[rowIndex].status == 0 || viaticosCopia[rowIndex].status == 2">
                <ion-button (click)="openModalGastos(viaticosCopia[rowIndex].id_viatico)">
                  <ion-icon name="cash"></ion-icon> Crear Gasto
                </ion-button>
              </div>
              <div *ngIf="viaticosCopia[rowIndex].status == 5">
                <ion-button [routerLink]="'/home/viatico-proyecto/'+viaticosCopia[rowIndex].id_viatico">
                  <ion-icon name="add-circle"></ion-icon> Crear Proyecto
                </ion-button>
              </div>
              <div *ngIf="viaticosCopia[rowIndex].status == 6">
                <ion-button [routerLink]="'/home/crear-informe/'+viaticosCopia[rowIndex].id_comision">
                  <ion-icon name="add-circle"></ion-icon> Crear informe
                </ion-button>
              </div>
            </ion-buttons>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </ion-card-content>
  </ion-card>

</ion-content>