<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/>
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>SIV CUCEI</ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image"/>
  <ion-card >
    <div class="center-content" >
      <ion-card-header>
        <ion-card-title>RESTAURAR CONTRASEÑA</ion-card-title>
        
      </ion-card-header>
      <form [formGroup]="fgRestore" (ngSubmit)="restorePassword()">
        <ion-item>
          <ion-label position="fixed">Código</ion-label>
          <ion-input placeholder="Código" formControlName="code"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">IMSS</ion-label>
          <ion-input placeholder="IMSS" type="text" formControlName="imss"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Nueva contraseña</ion-label>
          <ion-input placeholder="Password" type="password" formControlName="newpassword"></ion-input>
        </ion-item>
        <ion-button type="submit" color="light" [disabled]="this.fgRestore.invalid">Restaurar</ion-button>
        <a routerLink="/login" >Recorde mi contraseña</a>
      </form>
    </div>
  </ion-card>

</ion-content>

