<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/>
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>SIV CUCEI</ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image"/>
  <ion-card *ngIf="restoreStep === 0">
    <div class="center-content" >
      <ion-card-header>
        <ion-card-title>RESTAURAR CONTRASEÑA</ion-card-title>
      </ion-card-header>
      <form [formGroup]="fgRestore" (ngSubmit)="restorePassword()">
        <ion-item>
          <ion-label position="fixed">Codigo</ion-label>
          <ion-input placeholder="codigo" type="number" formControlName="code"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">RFC</ion-label>
          <ion-input placeholder="RFC" type="text" formControlName="rfc"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">IMSS</ion-label>
          <ion-input placeholder="IMSS" type="text" formControlName="imss"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Nacimiento</ion-label>
          <ion-datetime displayFormat="MM DD YY" placeholder="Fecha de nacimiento" formControlName="birthday"></ion-datetime>
<!--          <ion-input placeholder="Fecha de nacimiento" type="date" formControlName="birthday"></ion-input>-->
        </ion-item>
        <ion-button type="submit" color="light" [disabled]="this.fgRestore.invalid">Restaurar</ion-button>
        <a routerLink="/login" >Recordé mi contraseña</a>
      </form>
    </div>
  </ion-card>
  <ion-card *ngIf="restoreStep === 1">
    <div class="center-content" >
      <ion-card-header>
        <ion-card-title>Restaurar Contraseña</ion-card-title>
        <ion-card-subtitle>Nuevo SIIPERSU</ion-card-subtitle>
      </ion-card-header>
      <form [formGroup]="fgRestoreToken" (ngSubmit)="LogIn()">
        <ion-item>
          <ion-label position="fixed">Nueva contraseña</ion-label>
          <ion-input placeholder="******" type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button type="submit" color="light" [disabled]="this.fgRestoreToken.invalid">Cambiar Contraseña</ion-button>
        <a routerLink="/login" >Recorde mi contraseña</a>
      </form>
    </div>
  </ion-card>
</ion-content>

