<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
      <ion-button href="/home">
        <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>
          SOLICITUD DE COMISIÓN
        </ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image"/>
  <ion-card >
    <div class="center-content" >
      <ion-card-header class="title">
        <ion-card-title>Solicitud de comisión nueva</ion-card-title>
      </ion-card-header>

      <ion-card-header class="subtitle">
        <ion-card-title>Datos personales</ion-card-title>
      </ion-card-header>

      
        <ion-item *ngIf="this.perfil.codigo">
          <ion-label position="fixed">Código</ion-label>
          <ion-label position="fixed">{{ this.perfil.codigo }}</ion-label>
        </ion-item>

        <ion-item *ngIf="this.perfil.nombres">
          <ion-label position="fixed">Nombre(s)</ion-label>
          <ion-label position="fixed">{{ this.perfil.nombres }}</ion-label>
        </ion-item>

        <ion-item *ngIf="this.perfil.apellidos">
          <ion-label position="fixed">Apellidos</ion-label>
          <ion-label position="fixed">{{ this.perfil.apellidos }}</ion-label>
        </ion-item>

        <ion-card-header class="subtitle">
          <ion-card-title>Información de la comisión</ion-card-title>
        </ion-card-header>
        <form [formGroup]="fgCreate" (ngSubmit)="createComision()">
        <ion-list>
          <ion-item>
            <ion-label >Tipo de comisión</ion-label>
            <ion-select  formControlName="tipo_comision" (ionChange)="popSelect(fgCreate.controls.tipo_comision.value)">
              <ion-select-option value="1">Nacional</ion-select-option>
              <ion-select-option value="0">Internacional</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="flagtipoc==1" (ionChange)="popDestinos($event)">
            <ion-label >Estado:</ion-label>
            <ion-select>
              <ion-select-option value="1">Aguascalientes</ion-select-option>
              <ion-select-option value="2">Baja California</ion-select-option>
              <ion-select-option value="3">Baja California Sur</ion-select-option>
              <ion-select-option value="4">Campeche</ion-select-option>
              <ion-select-option value="5">Coahuila de Zaragoza</ion-select-option>
              <ion-select-option value="6">Colima</ion-select-option>
              <ion-select-option value="7">Chiapas</ion-select-option>
              <ion-select-option value="8">Chihuahua</ion-select-option>
              <ion-select-option value="9">Ciudad de México</ion-select-option>
              <ion-select-option value="10">Durango</ion-select-option>
              <ion-select-option value="11">Guanajuato</ion-select-option>
              <ion-select-option value="12">Guerrero</ion-select-option>
              <ion-select-option value="13">Hidalgo</ion-select-option>
              <ion-select-option value="14">Jalisco</ion-select-option>
              <ion-select-option value="15">México</ion-select-option>
              <ion-select-option value="16">Michoacán de Ocampo</ion-select-option>
              <ion-select-option value="17">Morelos</ion-select-option>
              <ion-select-option value="18">Nayarit</ion-select-option>
              <ion-select-option value="19">Nuevo León</ion-select-option>
              <ion-select-option value="20">Oaxaca</ion-select-option>
              <ion-select-option value="21">Puebla</ion-select-option>
              <ion-select-option value="22">Querétaro</ion-select-option>
              <ion-select-option value="23">Quintana Roo</ion-select-option>
              <ion-select-option value="24">San Luis Potosí</ion-select-option>
              <ion-select-option value="25">Sinaloa</ion-select-option>
              <ion-select-option value="26">Sonora</ion-select-option>
              <ion-select-option value="27">Tabasco</ion-select-option>
              <ion-select-option value="28">Tamaulipas</ion-select-option>
              <ion-select-option value="29">Tlaxcala</ion-select-option>
              <ion-select-option value="30">Veracruz de Ignacio de la Llave</ion-select-option>
              <ion-select-option value="31">Yucatán</ion-select-option>
              <ion-select-option value="32">Zacatecas</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="flagtipoc==1">
            <ion-label>Municipio:</ion-label>
            <ion-select>
              <ion-select-option *ngFor="let destino of destinos">{{destino.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="flagtipoc==0" (ionChange)="popDestinos($event)">
            <ion-label >Continente:</ion-label>
            <ion-select>
              <ion-select-option value="1">América</ion-select-option>
              <ion-select-option value="2">Europa</ion-select-option>
              <ion-select-option value="3">Oceanía</ion-select-option>
              <ion-select-option value="4">África</ion-select-option>
              <ion-select-option value="5">Asia</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="flagtipoc==0">
            <ion-label>Pais:</ion-label>
            <ion-select>
              <ion-select-option *ngFor="let destino of destinos">{{destino.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>

          <!--
          llamada a municipios


          <ion-item>
            formControlName="destino_com"
          </ion-item>
          -->

      </ion-list>

        <ion-item>
          <ion-label >Nombre de la comisión</ion-label>
          <ion-input placeholder="Nombre" type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Objetivo del trabajo</ion-label>
          <ion-input placeholder="Objetivo" type="text" formControlName="objetivo_trabajo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label >Justificación</ion-label>
          <ion-input placeholder="Describa detalladamente porqué se solicita la comisión" size="400" type="text" formControlName="justificacion"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Fecha inicio</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" max="3000-12-09" value="{{myDate}}" formControlName="fecha_inicio"></ion-datetime>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Fecha fin</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" max="3000-12-09" value="{{myDate}}" formControlName="fecha_fin"></ion-datetime>
        </ion-item>

        <ion-button type="submit" color="light" [disabled]="this.fgCreate.invalid">Guardar solicitud</ion-button>

      </form>
    </div>
  </ion-card>

</ion-content>
