.background-image{
    background-image: url("../../../../assets/images/fondo_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.title{
    text-align: center;
    width: 100%;
    background-color: rgb(215, 233, 207);
}

.subtitle{
    text-align: center;
    width: 100%;
    background-color: rgb(150, 185, 135);
}