<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>Modificar Perfil</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <form [formGroup]="fgModify" (ngSubmit)="modifyUsuario()">
    <ion-item>
      <ion-label>Nombres: </ion-label>
      <ion-input formControlName="nombres" value="{{this.perfil.nombres}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellidos: </ion-label>
      <ion-input formControlName="apellidos" value="{{this.perfil.apellidos}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Area de Adscripción: </ion-label>
      <ion-select placeholder="{{this.perfil.area_adscripcion}}" formControlName="area_adscripcion" class="mySelect">
        <ion-select-option value="Depto. de Farmacobiologia">Depto. de Farmacobiologia</ion-select-option>
        <ion-select-option value="Depto. de Fisica">Depto. de Fisica</ion-select-option>
        <ion-select-option value="Depto. de Matematicas">Depto. de Matematicas</ion-select-option>
        <ion-select-option value="Depto. de Quimica">Depto. de Quimica</ion-select-option>
        <ion-select-option value="Depto. de Ingenieria Civil y Topografia">Depto. de Ingenieria Civil y Topografia</ion-select-option>
        <ion-select-option value="Depto. de Ingenieria Industrial">Depto. de Ingenieria Industrial</ion-select-option>
        <ion-select-option value="Depto. de Ingenieria Mecanica Electrica">Depto. de Ingenieria Mecanica Electrica</ion-select-option>
        <ion-select-option value="Depto. de Ingenieria de Proyectos">Depto. de Ingenieria de Proyectos</ion-select-option>
        <ion-select-option value="Depto. de Ingenieria Quimica">Depto. de Ingenieria Quimica</ion-select-option>
        <ion-select-option value="Depto. de Madera Celulosa y Papel">Depto. de Madera Celulosa y Papel</ion-select-option>
        <ion-select-option value="Depto. de Ciencias Computacionales">Depto. de Ciencias Computacionales</ion-select-option>
        <ion-select-option value="Depto. de Electronica">Depto. de Electronica</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Plaza Laboral: </ion-label>
      <ion-input formControlName="plaza_laboral" value="{{this.perfil.plaza_laboral}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>NSS: </ion-label>
      <ion-input formControlName="nss" value="{{this.perfil.numero_social}}"></ion-input>
    </ion-item>

    <ion-button type="submit">Modificar
      <ion-icon name="create"></ion-icon>
    </ion-button>

    <ion-button (click)="closeModal()">Cerrar
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </form>
</ion-card>
</ion-content>
