<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>
          PERFIL
        </ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image"/>
  <ion-card-content class="background">
    <ion-label>Código</ion-label>
    <ion-item>
      <ion-input disabled="true" value="{{this.perfil.codigo}}"></ion-input>
    </ion-item>
    <ion-label>Nombres</ion-label>
    <ion-item>
      <ion-input disabled="true" value="{{this.perfil.nombres}}"></ion-input>
    </ion-item>
    <ion-label>Apellidos</ion-label>
    <ion-item>
      <ion-input disabled="true" value="{{this.perfil.apellidos}}"></ion-input>
    </ion-item>
    <ion-label>Area de Adscripción</ion-label>
    <ion-item>
      <ion-input disabled="true" value="{{this.perfil.area_adscripcion}}"></ion-input>
    </ion-item>
    <ion-label>Plaza Laboral</ion-label>
    <ion-item>
      <ion-input disabled="true" value="{{this.perfil.plaza_laboral}}"></ion-input>
    </ion-item>
    <ion-label>NSS</ion-label>
    <ion-item>
      <ion-input disabled="true" value="{{this.perfil.numero_social}}"></ion-input>
    </ion-item>
  </ion-card-content>

</ion-content>