<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
      <ion-back-button defaultHref="/home/historial-viaticos"></ion-back-button>
        <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>
          VIÁTICO PROYECTO
        </ion-title>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image" />
  <ion-card>

      <ion-card-header class="title">
        <ion-card-title>Nuevo Viático Proyecto</ion-card-title>
      </ion-card-header>


      <ion-card-header class="subtitle">
        <ion-card-title>Información del viático proyecto</ion-card-title>
      </ion-card-header>
      <form [formGroup]="fgCreate" (ngSubmit)="alertConfirm()">
        <ion-item>
          <ion-label>ID Solicitud Viatico </ion-label>
          <ion-input readonly [(ngModel)]="this.id_solicitud_viatico" formControlName="id_solicitud_viatico"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Número de proyecto </ion-label>
          <ion-input placeholder="No. de Proyecto" formControlName="numero_proyecto"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Cantidad: $</ion-label>
          <ion-input placeholder="Cantidad" type="number" formControlName="cantidad"></ion-input>
        </ion-item>

        <ion-button type="submit" color="light" [disabled]="this.fgCreate.invalid">Enviar</ion-button>
      </form>

  </ion-card>
</ion-content>