<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
      <ion-back-button defaultHref="/home/historial-viaticos"></ion-back-button>
        <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>
          Viatico Proyecto
        </ion-title>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image" />
  <ion-card>

    <div class="center-content" *ngIf="!guardado">
      <ion-card-header class="title">
        <ion-card-title>Nuevo Viático Proyecto</ion-card-title>
      </ion-card-header>


      <ion-card-header class="subtitle">
        <ion-card-title>Información del viático proyecto</ion-card-title>
      </ion-card-header>
      <form [formGroup]="fgCreate" (ngSubmit)="saveViaticoProyecto()">
        <ion-item>
          <ion-label>ID Solicitud Viatico </ion-label>
          <ion-input value="{{this.id_solicitud_viatico}}" formControlName="id_solicitud_viatico"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Número de proyecto </ion-label>
          <ion-input placeholder="No. de Proyecto" formControlName="numero_proyecto"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Cantidad </ion-label>
          <ion-input placeholder="Cantidad" type="text" formControlName="cantidad"></ion-input>
        </ion-item>

        <ion-button type="submit" color="light" [disabled]="this.fgCreate.invalid">Guardar estos datos</ion-button>
        <div *ngIf="guardado">
          <ion-button (click)="send()">Enviar</ion-button>
        </div>
        <div *ngIf="!guardado">
          <ion-button (click)="sendViaticoProyecto()">Enviar</ion-button>
        </div>
        <!-- <ion-button (click)="saveViatico()">Guardar solicitud</ion-button> -->
        <ion-button routerLink="/home">Regresar</ion-button>
      </form>
    </div>

    <div class="center-content" *ngIf="guardado">
      <ion-card-header class="title">
        <ion-card-title>Nuevo Viático Proyecto</ion-card-title>
      </ion-card-header>


      <ion-card-header class="subtitle">
        <ion-card-title>Información del viático proyecto</ion-card-title>
      </ion-card-header>
      <form [formGroup]="fgCreate" (ngSubmit)="saveViaticoProyecto()">
        <ion-item>
          <ion-label>ID Solicitud Viatico </ion-label>
          <ion-input value="{{this.id_solicitud_viatico}}" formControlName="id_solicitud_viatico"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Número de proyecto </ion-label>
          <ion-input value="{{this.viatico_proyecto.numero_proyecto}}" formControlName="numero_proyecto"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Cantidad </ion-label>
          <ion-input value="{{this.viatico_proyecto.cantidad}}" type="text" formControlName="cantidad"></ion-input>
        </ion-item>

        <ion-button type="submit" color="light" [disabled]="this.fgCreate.invalid">Guardar estos datos</ion-button>
        <div *ngIf="guardado">
          <ion-button (click)="sendViaticoProyecto()">Enviar</ion-button>
        </div>
        <div *ngIf="!guardado">
          <ion-button (click)="sendViaticoProyecto()">Enviar</ion-button>
        </div>
        <!-- <ion-button (click)="saveViatico()">Guardar solicitud</ion-button> -->
      </form>
    </div>
  </ion-card>
</ion-content>