<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="arrow-back"></ion-icon></ion-button>
        <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>
            VIATICO
        </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background-image"/>
  <ion-card >
    <div class="center-content">
      <ion-card-header class="title">
        <ion-card-title>Solicitud de viatico</ion-card-title>
      </ion-card-header>

        <form [formGroup]="fgCreate" (ngSubmit)="saveViatico()">
          <ion-item>
            <ion-label pickerOptions="cssClass:'datetime'">ID comisión</ion-label>
            <ion-label pickerOptions="cssClass:'datetime'">{{id_comision}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Nombre del invitado</ion-label>
            <ion-input placeholder="Nombre del invitado" type="text" formControlName="invitado_nombre"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Comentarios</ion-label>
            <ion-input placeholder="Comentarios" type="text" formControlName="comentarios"></ion-input>
          </ion-item>

          <ion-button type="submit" color="light" [disabled]="this.fgCreate.invalid">Guardar Viatico</ion-button>
          </form>
    </div>
  </ion-card>

</ion-content>
