<!--Modal que se muestra al dar click en "Mas Info" en vista "Lista de itinerariosiones"-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-title>INFORMACIÓN DE ITINERARIOS</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-toolbar>
      <ion-title>Itinerarios</ion-title>
    </ion-toolbar>
    <ion-grid *ngIf="itinerarios">
      <ion-row class="bg-row">
        <ion-col>
          <ion-label>Fecha</ion-label>
        </ion-col>

        <ion-col>
          <ion-label>Origen</ion-label>
        </ion-col>

        <ion-col>
          <ion-label>Destino</ion-label>
        </ion-col>

        <ion-col *ngIf="modificable">
          <ion-label>Acciones</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let Itinerario of itinerarios">

        <ion-col>
          <ion-datetime displayFormat="MMM/DD/YYYY" max="3000-12-09" [(ngModel)]="Itinerario.dia"></ion-datetime>
        </ion-col>

        <ion-col>
          <ion-input [(ngModel)]="Itinerario.origen"></ion-input>
        </ion-col>

        <ion-col>
          <ion-input [(ngModel)]="Itinerario.destino"></ion-input>
        </ion-col>

        <ion-col *ngIf="modificable">
          <ion-button (click)="modifyItinerario(Itinerario)">
            <ion-icon name="brush"></ion-icon>
          </ion-button>

          <ion-button (click)="deleteItinerario(Itinerario)">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
