<div>
  <ion-card>
    <ion-card-title>Plan de trabajo {{year}} calenadrio {{semester}}
    </ion-card-title>
    <ion-item>
      <ion-item>
        <ion-label position="floating">Codigo:</ion-label>
        <ion-input
            type="text"
            placeholder="Filtra por Codigo"
            (keyup)="updateFilter($event)"
        ></ion-input>
      </ion-item>

    </ion-item>
    <!--  https://swimlane.github.io/ngx-datatable/#filter   -->

    <ngx-datatable *ngIf="planList"
                   [ngClass]="'material'"
                   [rows]="planListCopy"
                   [headerHeight]="'auto'"
                   [rowHeight]="'auto'"
                   [columnMode]="'standard'"
                   [scrollbarH]="true"
    >
      <!--  Estos son las definiciones de columnas  -->

      <!--      <ngx-datatable-column prop="code" name="" width="50">-->
      <!--        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
      <!--          <ion-buttons>-->
      <!--            <ion-button routerLink="/home/profile/{{value}}">-->
      <!--              <ion-icon name="information-circle-outline"></ion-icon>-->
      <!--            </ion-button>-->
      <!--          </ion-buttons>-->
      <!--        </ng-template>-->
      <!--      </ngx-datatable-column>-->
      <ngx-datatable-column prop="code" name="Codigo" width="120">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="names" name="Nombre">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="last_name" name="Apellido Paterno">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="second_last_name" name="Apellido Materno">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="status" name="Estatus">
        <!-- TODO: revisar el diccionario de esta parte, definirlo-->
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{statusDic[+value]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="status" name="Acciones" width="400">
        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
          <!--TODO: ocultar los botones dependiendo el status del reporte-->
          <ion-buttons>
            <ion-button color="primary" (click)="approveInform(rowIndex)" *ngIf="value == DEFAULT || value == REJECTED">
              Aprobar
            </ion-button>
            <ion-button color="primary" (click)="disapproveInform(rowIndex)" *ngIf="value == DEFAULT || value == APPROVED">
              Desaprobar
            </ion-button>
            <ion-button color="primary" (click)="printInform()"  *ngIf="value == APPROVED">
              Imprimir
            </ion-button>
            <ion-button color="primary" routerLink="/home/department/inform/{{getUrlLink(rowIndex)}}">
              Ver informe
            </ion-button>
          </ion-buttons>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </ion-card>
</div>
