<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <!-- <ion-menu-button menu="menu"></ion-menu-button> -->
      <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
      <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
      <ion-title>
        INFORMACIÓN DEL VIÁTICO
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tieneDatos">
  <img class="background-image" />
  <ion-card-content class="background">
    <div *ngIf="!tieneDatos">
      No tiene viaticos
    </div>
    <div *ngIf="tieneDatos">
      <!-- {{ viatico | json}} -->
    </div>
    <ion-item *ngIf="this.viatico.folio">
      <ion-label position="floating">Folio Viatico</ion-label>
      <ion-input readonly value="{{this.viatico.folio}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.id_solicitud_comision">
      <ion-label position="floating">Folio Comisión</ion-label>
      <ion-input readonly value="{{this.viatico.id_solicitud_comision}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.nombre_invitado">
      <ion-label position="floating">Nombre de Invitado</ion-label>
      <ion-input readonly value="{{this.viatico.nombre_invitado}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.motivo_comision">
      <ion-label position="floating">Justificación</ion-label>
      <ion-input readonly value="{{this.viatico.motivo_comision}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.lugar_de_comision">
      <ion-label position="floating">Lugar</ion-label>
      <ion-input readonly value="{{this.viatico.lugar_de_comision}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.fecha_solicitud">
      <ion-label position="floating">Fecha de Solicitud</ion-label>
      <ion-input readonly value="{{this.viatico.fecha_solicitud | date}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.fecha_inicio">
      <ion-label position="floating">Inicio</ion-label>
      <ion-input readonly value="{{this.viatico.fecha_inicio | date}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.fecha_fin">
      <ion-label position="floating">Fin</ion-label>
      <ion-input readonly value="{{this.viatico.fecha_fin | date}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Status del Viatico</ion-label>
      <ion-input readonly *ngIf="viatico.status == -1" value="Cancelado"></ion-input>
      <ion-input readonly *ngIf="viatico.status == 0" value="Guardado"></ion-input>
      <ion-input readonly *ngIf="viatico.status == 1" value="Enviado a Finanzas"></ion-input>
      <ion-input readonly *ngIf="viatico.status == 2" value="Rechazado por Finanzas"></ion-input>
      <ion-input readonly *ngIf="viatico.status == 3" value="Aceptado por Finanzas"></ion-input>
      <ion-input readonly *ngIf="viatico.status == 4" value="Rechazado por Administrador"></ion-input>
      <ion-input readonly *ngIf="viatico.status == 5" value="Aceptado por Administrador"></ion-input>
      <ion-input readonly *ngIf="viatico.status == 6" value="Capital Asignado"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.fecha_revisado">
      <ion-label position="floating">Fecha Revisado</ion-label>
      <ion-input readonly value="{{this.viatico.fecha_revisado | date}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.fecha_aceptado">
      <ion-label position="floating">Fecha Aceptado</ion-label>
      <ion-input readonly value="{{this.viatico.fecha_aceptado | date}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.nombre_revisado">
      <ion-label position="floating">Nombre Revisado</ion-label>
      <ion-input readonly value="{{this.viatico.nombre_revisado}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.nombre_aceptado">
      <ion-label position="floating">Nombre aceptado</ion-label>
      <ion-input readonly value="{{this.viatico.nombre_aceptado}}"></ion-input>
    </ion-item>
    <div *ngIf="this.viatico.gastos">
      <ion-card>
        <ion-title>Gastos</ion-title>
        <ion-grid>
          <ion-row class="bg-row grid-bot-header">
            <ion-col>
              <ion-label>Dia</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>Alimentacion</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>Hospedaje</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>Transporte foraneo</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>Transporte local </ion-label>
            </ion-col>
            <ion-col>
              <ion-label>Combustible </ion-label>
            </ion-col>
            <ion-col>
              <ion-label>Otros conceptos</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>Total del día</ion-label>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let gasto of this.viatico.gastos" class="grid-bot-rows">
            <ion-col>
              <ion-label >{{gasto.dia | date}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label >{{gasto.alimentacion | currency}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label >{{gasto.hospedaje | currency}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label >{{gasto.transporte_foraneo | currency}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label >{{gasto.transporte_local | currency}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label >{{gasto.combustible | currency}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label >{{gasto.otros_conceptos | currency}}</ion-label>
            </ion-col>
            <ion-col class="total">
              <ion-label>{{gasto.alimentacion+gasto.hospedaje+gasto.transporte_foraneo+gasto.transporte_local+gasto.combustible+gasto.otros_conceptos | currency}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button (click)="sendViatico(this.viatico.folio, this.viatico.nombre_invitado, this.viatico.comentarios, 1 )">
          <ion-icon name="send"></ion-icon> Enviar Viático
        </ion-button>
      </ion-card>


      <!--<table>
        <thead>
          <th>DIA</th>
          <th>Alimentacion</th>
          <th>hospedaje</th>
          <th>Transporte Foraneo</th>
          <th>Transporte Local</th>
          <th>Combustible</th>
          <th>Otros</th>
        </thead>
        <tbody>
          <tr *ngFor="let gasto of this.viatico.gastos">
            <td>{{gasto.dia|date}}</td>
            <td>{{gasto.alimentacion}}</td>
            <td>{{gasto.hospedaje}}</td>
            <td>{{gasto.transporte_foraneo}}</td>
            <td>{{gasto.transporte_local}}</td>
            <td>{{gasto.combustible}}</td>
            <td>{{gasto.otros_conceptos}}
            <td>
          </tr>
        </tbody>
      </table>-->
    </div>
  </ion-card-content>
</ion-content>