<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <!-- <ion-menu-button menu="menu"></ion-menu-button> -->
      <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
      <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
      <ion-title>
        VIATICO
      </ion-title>
    </ion-buttons>
    <ion-button class="ion-float-right" *ngIf="this.viatico"
    (click)="cerrarModal()" [routerLink]="'/home/viatico/'+this.viatico.id_comision"><ion-icon name="create"></ion-icon>Modificar viatico</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tieneDatos">
  <img class="background-image" />
  <ion-card-content class="background">
    <div *ngIf="!tieneDatos">
      No tiene viaticos
    </div>
    <div *ngIf="tieneDatos">
      <!-- {{ viatico | json}} -->
    </div>
    <ion-item *ngIf="this.viatico.id_viatico">
      <ion-label position="floating">Folio</ion-label>
      <ion-input readonly value="{{this.viatico.id_viatico}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.id_comision">
      <ion-label position="floating">Folio Comisión</ion-label>
      <ion-input readonly value="{{this.viatico.id_comision}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.motivo_comision">
      <ion-label position="floating">Justificación</ion-label>
      <ion-input readonly value="{{this.viatico.motivo_comision}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.lugar_de_comision">
      <ion-label position="floating">Lugar</ion-label>
      <ion-input readonly value="{{this.viatico.lugar_de_comision}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.fecha_solicitud">
      <ion-label position="floating">Fecha de Solicitud</ion-label>
      <ion-input readonly value="{{this.viatico.fecha_solicitud | date}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.fecha_inicio">
      <ion-label position="floating">Inicio</ion-label>
      <ion-input readonly value="{{this.viatico.fecha_inicio}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.fecha_fin">
      <ion-label position="floating">Fin</ion-label>
      <ion-input readonly value="{{this.viatico.fecha_fin}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.status">
      <ion-label position="floating">Status del Viatico</ion-label>
      <ion-input readonly value="{{this.viatico.status}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.fecha_revisado">
      <ion-label position="floating">Fecha Revisado</ion-label>
      <ion-input readonly value="{{this.viatico.fecha_revisado}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.fecha_aceptado">
      <ion-label position="floating">Fecha Aceptado</ion-label>
      <ion-input readonly value="{{this.viatico.fecha_aceptado}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.nombre_revisado">
      <ion-label position="floating">Nombre Revisado</ion-label>
      <ion-input readonly value="{{this.viatico.nombre_revisado}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.viatico.nombre_aceptado">
      <ion-label position="floating">Nombre aceptado</ion-label>
      <ion-input readonly value="{{this.viatico.nombre_aceptado}}"></ion-input>
    </ion-item>
    <div *ngIf="this.viatico.gastos">
      <ion-label>Gastos</ion-label>
      <table>
        <thead>
          <th>DIA</th>
          <th>Alimentacion</th>
          <th>hospedaje</th>
          <th>Transporte Foraneo</th>
          <th>Transporte Local</th>
          <th>Combustible</th>
          <th>Otros</th>
        </thead>
        <tbody>
          <tr *ngFor="let gasto of this.viatico.gastos">
            <td>{{gasto.dia|date}}</td>
            <td>{{gasto.alimentacion}}</td>
            <td>{{gasto.hospedaje}}</td>
            <td>{{gasto.transporte_foraneo}}</td>
            <td>{{gasto.transporte_local}}</td>
            <td>{{gasto.combustible}}</td>
            <td>{{gasto.otros_conceptos}}
            <td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-card-content>
</ion-content>