<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <!-- <ion-back-button defaultHref="/home/historial-viaticos"></ion-back-button> -->
      
        <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>
          AGENDA
        </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list class="ion-padding">
    <form [formGroup]="agendaGroup">
      <ion-item>
        <ion-label position="floating">Dia: </ion-label>
        <ion-datetime formControlName="dia" displayFormat="MMM DD YY" placeholder="click aqui"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Hora inicio</ion-label>
        <ion-datetime formControlName="hora_inicio" displayFormat="h:mm a" placeholder="click aqui"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Hora fin</ion-label>
        <ion-datetime formControlName="hora_fin" displayFormat="h:mm a" placeholder="click aqui"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Actividad</ion-label>
        <ion-input formControlName="actividad" type="text" placeholder="Ingresa la actividad realizada"></ion-input>
      </ion-item>
      <ion-button (click)="crearAgenda()" [disabled]="agendaGroup.invalid">Crear</ion-button>
    </form>
  </ion-list>
</ion-content>
