<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <!-- <ion-back-button defaultHref="/home/historial-viaticos"></ion-back-button> -->
      
        <!-- <img src="../../../assets/images/logo.png" width="25px" style="display:inline-block" height="25px"/> -->
        <!-- <ion-icon slot="icon-only" name="filing"></ion-icon> -->
        <ion-title>
          ITINERARIO
        </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="itinerarioGroup">
      <ion-item>
        <ion-label position="floating">Dia: </ion-label>
        <ion-datetime formControlName="dia" displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Origen: </ion-label>
        <ion-input type="text" formControlName="origen"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Destino: </ion-label>
        <ion-input type="text" formControlName="destino"></ion-input>
      </ion-item>
      <ion-button (click)="crearItinerario()" [disabled]="itinerarioGroup.invalid">Crear</ion-button>
    </form>
  </ion-list>
</ion-content>
