<ion-header>
  <ion-toolbar>
    <ion-title>Itinerario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="itinerarioGroup">
      <ion-item>
        <ion-label position="floating">Dia: </ion-label>
        <ion-datetime formControlName="dia" displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Origen: </ion-label>
        <ion-input type="text" formControlName="origen"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Destino: </ion-label>
        <ion-input type="text" formControlName="destino"></ion-input>
      </ion-item>
      <ion-button (click)="crearItinerario()" [disabled]="itinerarioGroup.invalid">Crear</ion-button>
    </form>
  </ion-list>
</ion-content>
