<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-title>FACTURA</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="facturaGroup">
      <ion-item>
        <ion-label >Subir Archivos: </ion-label>
        <input type="file" (change)="getFactura($event)" formControlName="archivo">
      </ion-item>
      <ion-button (click)="crearFactura()" [disabled]="facturaGroup.invalid">Crear</ion-button>
    </form>
  </ion-list>
</ion-content>
