ion-img{
  width: auto; /* width of container */
  max-width: 200px;
  height: 200px; /* height of container */
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}


ion-card {
  background: white;
}
